@import "tailwindcss";

@theme {
  --color-primary: #3b82f6;
  --color-secondary: #1f2937;
  --color-background: #f9fafb;
  --color-surface: #ffffff;

  --radius-lg: 0.5rem;
}

@layer base {
  body {
    @apply bg-background text-secondary;
  }
}
